body{
  background-color: #FFD700;
}
.background {
    margin-top: 30px;
  background-image: url(http://images.entertainment.ie/images_content/rectangle/620x372/Cersei-wine-3.jpg);
    background-size: cover;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}

h1 {
  text-align: center;
}

.button {
    background-color:#FF8C00 ;
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
#quoteDisplay {
    text-align: center;
    width:800px;
    margin: 0 auto;
    font-weight: bold;
}